<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      background-color: whitesmoke;
      box-sizing: border-box;
    }

    main {
      margin: 0 auto;
      max-width: 800px;
    }

    .grid {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }

    .grid>div {
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 1rem;
      box-shadow: 2px 2px 16px lightgray;
    }

    .grid div {
      height: 100%;
    }

    img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 128px;
    }


    @media only screen and (max-width: 720px) {
      .grid {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media only screen and (max-width: 480px) {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  </style>

  <main>
    <route default>
      <div class="grid">
        <application name="@microfrontrend/angular-micro"></application>
        <application name="@microfrontrend/react-micro"></application>
        <application name="@microfrontrend/vue-micro"></application>
        <application name="@microfrontrend/svelte-micro"></application>
      </div>
    </route>
  </main>
</single-spa-router>